<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="JavaQuiz"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity  android:label="BookMarked Questions" android:name=".BookmarkActivity"></activity>
        <activity
            android:name=".WrongQuestions"
            android:label="Wrong Questions">
                    </activity>
        <activity
            android:name=".ResultActivity"
            android:label="Result">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".StartTest"
            android:label="Start Test">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".QuestionsActivity"
            android:label="Test" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>